<h1 align="center">Listing all events</h1>
<p align="center" style="color:black"><%= will_paginate(@events) %></p>
<table border="1" cellpadding="5" cellspacing="1" width="1200">
  <tr bgcolor="#7F0E30" style="color:white">
    <th width="10%">Name</th>
    <th width="">Details</th>
    <th width="18%">Start at</th>
    <th width="18%">End at</th>
    </tr>

<% @events.each do |event| %>
<% if event.status? %>
  <tr bgcolor="#CFFF6D">
<% else %>
  <tr bgcolor="#69FAFF">
<% end %>
    <td><H3 style="color:black"><%= link_to event.name, event %></H3></td>
    <td><%= event.details %></td>
    <td align="center"><%= event.start_at %></td>
    <td align="center"><%= event.end_at %></td></tr>
<% end %>
</table>
<br/>
<%= will_paginate(@events) %>
<br />

<%= link_to 'New Event', new_event_path %>
